body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    color:#00bcd4;
    margin-bottom: 0.5em;
    text-align: center;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Horizontal padding */
    background-color:  #00bcd4;
}

#navLinks {
    display: flex;
    justify-content: flex-end; /* Aligns links to the right */
}

#navLinks a {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* Adds space to the left of each link */
}


.pageContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #00bcd4;
    border-radius: 10px;
}

button, input[type="text"], textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover, button:focus, input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus {
    border-color: #00bcd4;
    box-shadow: 0 2px 8px #00bcd4;
    background: #019ca0;
}

button:active {
    transform: scale(0.98);
}

.tagButton {
	background-color: #00bcd4;
    color: #fff;;
}

.tagButton.selected {
    padding: 10px 15px;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    cursor: pointer;
    color: #00bcd4;
    background:  #fff;
}

.tags-section label {
	display: block;
	text-align: center;
	
}
.tags-section .button-group {
    display: block;
    text-align: center;
    margin: auto;
}

.tags-section {
	
    border-top: 2px solid  #00bcd4;
    padding-top: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center
}

#comment {
    display: block;
    width: 100%;
    max-width: 600px; /* Matches the form width */
    margin-top: 10px;
    margin-bottom: 20px;
}



.form-section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
