body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color:#00bcd4;
    margin-bottom: 0.5em;
    text-align: center;
     background: white;

}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; 
    background-color:  #00bcd4;

}

#navLinks {
    display: flex;
    justify-content: flex-end; /* Aligns links to the right */
}

#navLinks a {
    color: white;
    text-decoration: none;
    margin-left: 10px; /* Adds space to the left of each link */
}

.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  #nav, #nav a, .card-content, .comments-link {
    font-family: Arial, sans-serif;
  }
  .nav {
    display: flex;
    gap: 10px;
/*    align-items: right;*/
    margin-left: auto;
  }
  .nav button {
    padding: 5px 15px;
    border: none;
    background: white;
    cursor: pointer;
  }
  #nav, #nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  #nav li {
/*    background-color: #d3d3d3;*/
    width: 370px;
    text-align: center;
/*    position: relative;*/
 	width: 204.8px;
  }
  #nav {
    display: flex;
    justify-content: center;
    background-color: grey;

/*    position: sticky;*/
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: 1;
    
    background-color: #019ca0;
     width: 100%;
  }
  #nav li:hover {
    background-color: #0bd1d6;
    z-index: 1;
  }
  #nav a {
/*    font-family: 'Noto Serif KR', serif;*/
    color: black;
/*    width: 50px;*/
    height: 50px;

    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #FFF;
    display: block;
    height: 50px;
  }

  #nav ul {
    position: absolute;
    display: none;
  }

  #nav li:hover > ul {
    display: block;
  }


  
.pageContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #00bcd4;
    border-radius: 10px;
}

button, input[type="text"], textarea {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

button:hover, button:focus, input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus {
    border-color: #00bcd4;
    box-shadow: 0 2px 8px #00bcd4;
    background: #019ca0;
}

button:active {
    transform: scale(0.98);
}

.tagButton {
	background-color: #00bcd4;
    color: #fff;;
}

.tagButton.selected {
    padding: 10px 15px;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    cursor: pointer;
    color: #00bcd4;
    background:  #fff;
}

.tags-section label {
	display: block;
	text-align: center;
	
}
.tags-section .button-group {
    display: block;
    text-align: center;
    margin: auto;
}

.tags-section {
	
    border-top: 2px solid  #00bcd4;
    padding-top: 20px;
    display: flex; 
    flex-direction: column; 
    align-items: center
}

#comment {
    display: block;
    width: 100%;
    max-width: 600px; /* Matches the form width */
    margin-top: 10px;
    margin-bottom: 20px;
}



.form-section {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}



