@charset "UTF-8";

html *
{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(113, 76, 238);
    padding: 20px;
}

.nav-bar-item { 
    display: inline;
    color: white;
}

.nav-bar-link {
    color: white;
    float: right;
    text-decoration: none;
    padding: 0px 10px;
}

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.container-item {
    margin: 50px;
    text-align: left;
}

input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    display: table;
    margin-left: 0px;
    padding: 0px;
}

.login-button, .register-button {
	color: white;
    background-color: maroon;
    height: 30px;
    width: 305px;
    cursor: pointer;
}

.guest-button {
	color: grey;
	transition: background-color 0.3s ease, color 0.3s ease;
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 5px;
	
	display: flex;
    justify-content: center;
    align-items: center;
}

.guest-button:hover {
    color: maroon;
}

.guest-button i {
    margin-left: 5px;
}

a.guest-button {
    text-decoration: none;
    font-size: 14px;
}

span {
    text-align: center;
}