body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.pageContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 3px solid #00bcd4;
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
}

.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  #nav, #nav a, .card-content, .comments-link {
    font-family: Arial, sans-serif;
  }
  .nav {
    display: flex;
    gap: 10px;
/*    align-items: right;*/
    margin-left: auto;
  }
  .nav button {
    padding: 5px 15px;
    border: none;
    background: white;
    cursor: pointer;
  }
  #nav, #nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  #nav li {
/*    background-color: #d3d3d3;*/
    width: 370px;
    text-align: center;
/*    position: relative;*/
 	width: 204.8px;
  }
  #nav {
    display: flex;
    justify-content: center;
    background-color: grey;

/*    position: sticky;*/
    top: 0px;
    left: 0px;
    right: 0px;

    z-index: 1;
    
    background-color: #019ca0;
     width: 100%;
  }
  #nav li:hover {
    background-color: #0bd1d6;
    z-index: 1;
  }
  #nav a {
/*    font-family: 'Noto Serif KR', serif;*/
    color: black;
/*    width: 50px;*/
    height: 50px;

    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #FFF;
    display: block;
    height: 50px;
  }

  #nav ul {
    position: absolute;
    display: none;
  }

  #nav li:hover > ul {
    display: block;
  }


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Added this to include padding in width */
}

.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group button {
    padding: 10px 15px;
    background: #00bcd4;
    border: 1px solid #00bcd4;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
}

.form-group button:hover {
    background: #019ca0;
}

#ratingContainer img {
    cursor: pointer;
}

/* Custom file upload button */
.custom-file-upload {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

/* Style for the actual file input, hidden but functional */
.file-input {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}
