@charset "UTF-8";


input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* Style checked checkboxes */
input[type="checkbox"]:checked + label.checkbox-label {
    background-color: #007bff;
    color: #fff;
}

/* Style the label as the image */
.blank-img1 {
    display: inline-block;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-image: url('blank-tommy.svg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
}

.filled-img1 {
    display: inline-block;
    width: 50px; /* Adjust the width of the image */
    height: 50px; /* Adjust the height of the image */
    background-image: url('filled-tommy.svg'); /* Replace 'path_to_your_image.jpg' with the path to your image */
    background-size: cover;
}


